<div class="page-inner" id="payments-page-inner" data-cy="payments-page-inner">
  <app-org-header
    [orgNumber]="orgNumber"
    [orgName]="orgName"
    [hasMultipleOrgs]="hasMultipleOrgs"
    [tenantEmail]="tenantEmail"
  ></app-org-header>

  <div class="card" id="payments-card" data-cy="payments-card">
    <div class="card-header d-flex align-items-center">
      <div>
        <h3 class="mb-0 ap-pad-10" id="payments-header" data-cy="payments-header">Payments</h3>
      </div>
    </div>
    <div class="card-body">
      <app-datatable
        idSuffix="payments"
        [config]="paymentsTableConfig"
        [data]="paymentsData"
        [loading]="isLoading"
        (sort)="onPaymentSort($event)"
      ></app-datatable>
    </div>
  </div>
</div>
