/* ===================================
   BC Gov Bootstrap Theme Variables
   =================================== */
:root {
  --bc-primary: #2d2d2d; //primary font color
  --bc-white: #ffffff;
  --bc-blue: #013366; //primary
  --bc-blue-light: #255a90; //link
  --bc-blue-10: #f1f8fe;
  --bc-blue-80: #3470b1;
  --bc-blue-90: #1e5189; // button hover
  --bc-gold: #fcba19; //primary
  --bc-gold-80: #f9c462;
  --bc-gray: #edebe9;
  --bc-gray-10: #faf9f8;
  --bc-gray-20: #f3f2f1;
  --bc-gray-30: #eceae8; // hover tertiary
  --bc-gray-50: #d1cfcd;
  --bc-gray-60: #c6c5c3;
  --bc-gray-80: #605e5c;

  /**Support colors**/
  --bc-bg-info: #053662;
  --bc-bg-success: #42814a;
  --bc-bg-error: #ce3e39;
  --bc-bg-warning: #f8bb47;
  --bc-purple: #6f2c91; //No equivalent in the original

  --bc-surface-info: #f7f9fc;
  --bc-surface-success: #f6fff8;
  --bc-surface-error: #f4e1e2;
  --bc-surface-warning: #fef1d8;

  /**Font Sizes**/
  --bc-font-size-12: 0.75rem;
  --bc-font-size-13: 0.8125rem;
  --bc-font-size-14: 0.875rem;
  --bc-font-size-16: 1rem; //default
  --bc-font-size-18: 1.125rem;
  --bc-font-size-20: 1.25rem;
}

/* ===================================
   Global Reset & Base Styles
   =================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  color: var(--bc-primary);
}

h3 {
  font-size: var(--bc-font-size-18);
  color: var(--bc-primary);
}

/* ===================================
   Component Styles
   =================================== */

/* Cards */
.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
}

.card-header {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #eee;
}

.ap-pad-10 {
  padding: 10px;
}

/* Form Section */
.form-section {
  .field {
    margin-bottom: 10px;
  }

  label {
    font-size: var(--bc-font-size-13);
    font-weight: bold;
    color: var(--bc-primary);
  }
}

/* Table */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #feffff;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: var(--bc-blue-10);
}

/* Buttons */
.btn {
  padding: 5px 15px;
}

.btn-primary {
  background-color: var(--bc-blue);
  border-color: var(--bc-blue);
  color: var(--bc-white);
  transition: background-color 0.2s ease, border-color 0.2s ease;

  &:hover {
    background-color: var(--bc-blue-90);
    border-color: var(--bc-blue-90);
    color: white;
  }
}
