{
    "baseUrl": "https://dev2-grants.apps.silver.devops.gov.bc.ca/",
    "environment": "dev2",
    "test1username": "",
    "test1password": "",
    "test2username": "",
    "test2password": "",
    "bcscUsername": "",
    "bcscPassword": "",
    "workspaceName": "",
    "providerName": ""
}
