<div class="app-info">
  @if (displayId || displayName) {
    <div class="app-field" *ngIf="displayId">
      <span class="app-label">{{ displayMode === 'applicant' ? 'ID' : 'Org #' }}</span>
      <span id="applicant-id" data-cy="applicant-id" class="app-id">{{ displayId }}</span>
    </div>
    <div class="app-field" *ngIf="displayName">
      <span class="app-label">{{ displayMode === 'applicant' ? 'Name' : 'Organization' }}</span>
      <span id="applicant-name" data-cy="applicant-name" class="app-name">{{ displayName }}</span>
    </div>
  }
</div>
