<div class="app-info">
  @if (hasMultipleOrgs) {
    <span class="alert-block alert-warning">
      <img src="images/icons/warning.svg" class="alert-icon" alt="" aria-hidden="true">
      @if (tenantEmail) {
        This page is displayed in read-only mode because multiple applicants are associated with your account. To resolve this issue, please contact the grant program administrator at {{ tenantEmail }}.
      } @else {
        This page is displayed in read-only mode because multiple applicants are associated with your account. To resolve this issue, please contact the grant program administrator.
      }
    </span>
  } @else if (orgNumber || orgName) {
    <span id="applicant-id" data-cy="applicant-id" class="app-id">{{ orgNumber }}</span>
    <span id="applicant-name" data-cy="applicant-name" class="app-name">{{ orgName }}</span>
  }
</div>
