<div class="addresses-container">
      @if (isLoading) {
      <div class="primary-loading-state">
        <div class="loading-skeleton">
          <div class="skeleton-header"></div>
          <div class="skeleton-content">
            <div class="skeleton-line"></div>
            <div class="skeleton-line short"></div>
          </div>
        </div>
      </div>
      } @else if (primaryAddress) {
      <div id="primary-address-info" class="primary-address-info">
        <h6 class="mb-2">PRIMARY ADDRESS</h6>
        <div class="row">
          <div class="col-md-10 col-sm-12">
            <label class="form-label">Full Address</label>
            <p class="address-value">
              {{ getPrimaryFullAddress() }}, {{ primaryAddress.city }}, {{ primaryAddress.province }}, {{ primaryAddress.postalCode }}
            </p>
          </div>
          <div class="col-md-2 col-sm-12">
            <label class="form-label">Type</label>
            <p class="address-value">
                {{ primaryAddress.addressType }}
            </p>
          </div>
        </div>
      </div>
      } @else {
      <div id="no-addresses-message" class="no-primary-address text-center text-muted">
        <p>No addresses found.</p>
      </div>
      }

      <!-- Addresses Table -->
      <app-datatable
        [config]="addressesTableConfig"
        [data]="getAddressesForTable()"
        [loading]="isLoading"
        (rowClick)="onAddressRowClick($event)"
        (actionClick)="onAddressAction($event)"
        (sort)="onAddressSort($event)"
      ></app-datatable>
</div>