<header class="header">
  <div class="header-left">
    <div class="page-title">Applicant Info</div>
  </div>
  <div class="header-right">
    <div class="btn-group">
      <a
        class="btn btn-link dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-regular fa-circle-user fa-2xl"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="dropdown-item" class="logout-btn" (click)="onLogout()"
            >Log out</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
