.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  > * {
    min-width: 0;
  }
}

@media (max-width: 1024px) {
  .content-grid {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
}
