<div class="page-inner">
  <div class="content-grid">
    <app-organization-info
      id="card-organization"
      data-cy="card-organization"
      [pluginId]="pluginId"
      [provider]="provider"
      (organizationLoaded)="onOrganizationLoaded($event)"
      (multipleOrganizationsDetected)="onMultipleOrganizationsDetected($event)"
    ></app-organization-info>

    <app-applicant-info-submissions
      id="card-submissions"
      data-cy="card-submissions"
      [pluginId]="pluginId"
      [provider]="provider"
    ></app-applicant-info-submissions>

    <app-contacts
      id="card-contacts"
      data-cy="card-contacts"
      [pluginId]="pluginId"
      [provider]="provider"
      [hasMultipleOrgs]="hasMultipleOrgs"
      [isSingleOrg]="isSingleOrg"
      [applicantId]="applicantId"
    ></app-contacts>

    <app-addresses
      id="card-addresses"
      data-cy="card-addresses"
      [pluginId]="pluginId"
      [provider]="provider"
      [hasMultipleOrgs]="hasMultipleOrgs"
      [isSingleOrg]="isSingleOrg"
      [applicantId]="applicantId"
    ></app-addresses>
  </div>
</div>
